//Primary Colors
$green-500: hsl(158, 36%, 37%);
$green-700: hsl(158, 42%, 18%);

//Neutral Colors
$black: hsl(212, 21%, 14%);
$grey: hsl(228, 12%, 48%);
$cream: hsl(30, 38%, 92%);
$white: hsl(0, 0%, 100%);

//Typefaces
$montserrat: "Montserrat", sans-serif;
$fraunces: "Fraunces", serif;

//Weights
$bold: 500;
$extrabold: 700;